@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Roboto Slab", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.butter-main {
  background: url('../images/bts-butter.jpg') no-repeat 0 0;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: auto;
  margin-bottom: 90px;
  box-shadow: 0 0 16px 3px rgba(247, 214, 0.5);
}

.bg-red {
  background: #F56970;
}